.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 472px;

  @media (min-width: 768px) {
    max-width: 738px;
    padding: 0 15px;
  }

  @media (min-width: 1600px) {
    max-width: 1400px;
    padding: 0 100px;
  }
}
